.head {
    background-color: #2979ff;
}

h1 {
    color: #ffffff;
}

.but {
    float: right;
    border: 0;
    background-color: #2979ff;
    text-decoration-color: transparent;
    color: #ffffff;
}

#signin {
    position: absolute;
    width: 250px;
    height: 400px;
    background-color: #fafafa;
    z-index: 100;
    display: none;
    left: 600px;
}

.sig {
    width: 100%;
    height: 100px;
}

h2 {
    text-align: center;
    color: #2979ff;
}

.inp {
    border: none;
    background-color: #fafafa;
    outline: none;
    width: 100%;
    height: 40px;
}

#form {
    width: 100%;
    height: 200px;
}

#sign {
    float: right;
    color: #2979f9;
}

.empty {
    width: 100%;
    height: 100px;
}

.imgd {
    width: 900px;
    height: 500px;
    float: left;
}

#img {
    width: 600px;
    height: 500px;
}

.login {
    position: initial;
    background-color: #ffffff;
    border: 2px;
    width: 100%;
    height: 500px;
}

label {
    font-size: 0;
}

.input, select {
    background-color: #ffffff;
    border: 0;
    width: 400px;
    height: 40px;
    outline: none;
}

h2 {
    text-align: center;
    font-style: italic;
    color: #2979ff;
}

#lbut {
    float: right;
    color: #ffffff;
    background-color: #2079f9;
    border: 0;
    size: 20px;
}