body {
	background-color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-bottom: 20px;
	width: 200px;
	height: 450px;
	background-color: gray;
}

li a {
	display: block;
	color: white;
	font-family: Algerian;
	font-size: 20px;
	padding: 15px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: lightgreen; /*  #2962ff;*/
	color: white;
	width: 104px;
}

.he {
	background-color: #2979ff;
	padding: 8px 600px;
	color: white;
	height: 90px;
	font-family: Algerian;
	font-size: 28px;
}

input {
	width: 85px;
	height: 30px;
	border: 0px;
	text-align: center;
	font-size: 20px;
}

.ss {
	position: absolute;
	padding: 100px 450px;
	color: red;
	font-size: 20px;
	font-family: Algerian;
}

.button {
	background-color: black;
	border-radius: 15px;
	color: yellow;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 140px;
	height: 40px;
	float: right;
}

#rf {
	float: left;
}

#re {
	float: left;
}